*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:auto;

font-family:Poppins,sans-serif;

background:linear-gradient(
135deg,
#020b1d,
#0b2954,
#123b75
);

}


.container{

width:90%;
max-width:700px;

position:relative;

z-index:10;

}


.card{

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

border-radius:25px;

padding:45px;

text-align:center;

color:white;

border:1px solid rgba(255,255,255,.15);

box-shadow:0 15px 40px rgba(0,0,0,.5);

}


h1{

font-family:"Great Vibes",cursive;

font-size:60px;

color:#8fd9ff;

margin-bottom:20px;

}


p{

font-size:18px;

line-height:1.8;

margin:15px 0;

color:#eee;

}


button{

margin-top:25px;

padding:15px 45px;

border:none;

border-radius:50px;

background:#2f9eff;

color:white;

font-size:18px;

cursor:pointer;

position:relative;

z-index:20;

}


button:hover{

background:#58b5ff;

transform:scale(1.05);

}


#message{

display:none;

}


.show{

display:block !important;

animation:fade 1s ease;

}


@keyframes fade{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}



.sign{

margin-top:30px;

font-family:"Great Vibes",cursive;

font-size:30px;

color:#8fd9ff;

}


.sign span{

font-size:40px;

}
