*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:Poppins,sans-serif;

    background:linear-gradient(
        135deg,
        #020b1d,
        #0b2954,
        #123b75
    );
}

body::before{
    content:"";
    position:absolute;
    inset:0;
    background:radial-gradient(
        circle at top,
        rgba(0,180,255,.18),
        transparent 60%
    );

    /* Prevent overlay from blocking clicks */
    pointer-events:none;
}

.container{
    width:90%;
    max-width:700px;

    position:relative;
    z-index:5;
}

.card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    border-radius:25px;

    border:1px solid rgba(255,255,255,.15);

    box-shadow:0 15px 40px rgba(0,0,0,.45);

    padding:45px;

    text-align:center;

    color:white;
}

h1{

    font-family:"Great Vibes",cursive;

    font-size:60px;

    color:#8fd9ff;

    margin-bottom:20px;
}

p{

    margin:18px 0;

    line-height:1.9;

    font-size:18px;

    color:#ececec;
}

button{

    margin-top:25px;

    padding:15px 40px;

    border:none;

    border-radius:50px;

    cursor:pointer;

    font-size:18px;

    background:#2f9eff;

    color:white;

    transition:.3s;
}

button:hover{

    transform:scale(1.05);

    background:#58b5ff;
}

#message{

    display:none;

    opacity:0;

    transform:translateY(20px);

    transition:1.2s;
}

.show{

    display:block !important;

    opacity:1 !important;

    transform:translateY(0) !important;
}

.sign{

    margin-top:30px;

    font-size:26px;

    font-family:"Great Vibes",cursive;

    color:#8fd9ff;
}

.sign span{

    font-size:35px;
}
